---
layout: default
permalink: /orcamentos/alicerce.html
---

/ <html>
/   <head>
/     <meta charset="utf-8">
/     <meta name="viewport" content="width=device-width, initial-scale=1">

/     <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
/     <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
/     <script type="text/javascript" src="http://www.materialeconstrucao.com.br/assets/js/single/jquery.jeditable-1.6.1.min.js"></script>
/     <script type="text/javascript" src="http://www.materialeconstrucao.com.br/assets/js/single/angular.min.js"></script>
/     <script type="text/javascript" src="http://www.materialeconstrucao.com.br/assets/js/single/costs.js"></script>
/     <script type="text/javascript" src="http://www.materialeconstrucao.com.br/assets/js/single/alicerce.js"></script>

/     <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
/     rel="stylesheet" type="text/css">
/     <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
/     rel="stylesheet" type="text/css">

%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %script{:src => "http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js", :type => "text/javascript"}
    / <script type="text/javascript" src="http://localhost:4000/assets/js/single/jquery.jeditable-1.6.1.min.js"></script>
    %script{:src => "http://www.materialeconstrucao.com.br/assets/js/single/angular.min.js", :type => "text/javascript"}
    %script{:src => "http://www.materialeconstrucao.com.br/assets/js/single/costs.js", :type => "text/javascript"}
    %script{:src => "http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js", :type => "text/javascript"}
    %link{:href => "http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css", :rel => "stylesheet", :type => "text/css"}
    / <script type="text/javascript" src="http://localhost:4000/assets/js/single/alicerce.js"></script>

  %body{ng:{app: "spjCost"}}
    .card.wizard-card.ct-wizard-green{id:"wizard", ng: { controller: "WallcostController"}}
      .wizard-header
        / .col-sm-6.text-left
        /   = link_to simulations_path do
        /     %button.btn.btn-info
        /       Voltar para Mini-Orçamentos
        / .col-sm-6.text-right
        /   = link_to search_path do
        /     %button.btn.btn-info
        /       Ver todos os projetos
        .col-sm-9.text-left
          %h1
            %b
              {{material.titulo}}

          %p.lead
            {{ material.subtitulo }}
        .col-sm-3.hidden-xs.nogutter-left
          / # = image_tag "#{JSON.parse(chapisco)['image']}", class: 'img-responsive logo'
        .col-sm-12
          %hr
        .col-sm-12
          %p.bg-success.text-left.share-paragraph
            Esta é uma ferramenta gratuita, caso você goste pedimos que
            %b
              compartilhe e divulgue,
            assim nos sentiremos motivados a construir novas ferramentas para você.
        .col-sm-2.nogutter
          / # = image_tag 'orc-parede-tijolo/red-arrow-custo-parede.jpg', class: 'img-responsive pull-right'
        .col-sm-10.nogutter.text-left
          .addthis_jumbo_share

        .col-sm-12.text-left.margin-conteudo-orca
          / != JSON.parse(chapisco)['conteudo']
        .col-sm-12
          %h4.info-info.text-warning
            Entre com os seguintes dados:

        .col-sm-12
          %form.form-horizontal

            .form-group{ ng: {repeat: "entrada in orca.entradas", hide: "entrada.hide" }}
              %label.col-sm-4.control-label
                {{ entrada.nome }}
              .col-sm-4
                .input-group.input-group-xs
                  %input.form-control{type:"orca.variavel[entrada.tipo]", ui: { number: { mask: "2"}}, id:"entrada.id", ng: { model: "orca.variavel[entrada.identidade]", change: "mudarEntradas()", type: "number" } }
                  %div.input-group-addon {{ entrada.unidade }}


        .row
          .col-sm-12
            %tabset
              %tab{ heading: "Totais"}
                %h5.text-left.text-warning
                  Totais de Materiais
                %table.table.table-striped.table-condensed
                  %thead
                    %tr
                      %th #
                      %th Material
                      %th Quantidade (índice)
                      %th R$ Unitário
                      %th R$ Total
                  %tbody
                    %tr.material.text-left{ ng: { repeat: "material in orca.materiais"}}
                      %td {{ $index+1 }}
                      %td {{ material.nome }}
                      %td
                        {{ orca.materiais[$index].quantidade = ( material.multiplicar * material.indice ) * 1 | number:2}} {{ material.unidade }}
                        %small.text-muted
                          (
                          %a.editable{href: "#", editable: { text: "orca.materiais[$index].indice"}, e: { name: "moindice[$index]" }}
                            {{ orca.materiais[$index].indice | number:2 }}
                          \/m2)
                      %td
                        %input{ type: "text", ui: { money: { mask: "2" }}, ng: { model: "material.punit", type: "number"}, aria: { labelledby: "select_{{$index}}"} }
                      %td {{ ( material.ptotal =  material.quantidade * material.punit | currency: "R$ " ) || 'R$ XX,XX' }}
                  %tfoot.subtotal
                    %tr
                      %td{colspan: 3}
                      %td Subtotal:
                      %td
                        %strong {{ getSubTotal('materiais') | currency }}



                %h5.text-left.text-warning
                  Totais de Mão de Obra
                %table.table.table-striped.table-condensed
                  %thead
                    %tr
                      %th #
                      %th Material
                      %th Quantidade
                      %th R$ Unitário
                      %th R$ Total
                  %tbody
                    %tr.material.text-left{ ng: { repeat: "func in orca.trabalhadores"}}
                      %td {{ $index+1 }}
                      %td {{ func.nome }}
                      %td
                        {{ orca.trabalhadores[$index].quantidade = ( func.multiplicar * func.indice ) * 1 | number:2}} {{ func.unidade }}
                        %small.text-muted
                          (
                          %a.editable{href: "#", editable: { text: "orca.trabalhadores[$index].indice"}, e: { name: "moindice[$index]" }}
                            {{ orca.trabalhadores[$index].indice | number:2 }}
                          \/m2)
                      %td
                        %input{ type: "text", ui: { money: { mask: "2" }}, ng: { model: "func.punit", type: "number"}, aria: { labelledby: "select_{{$index}}"} }
                      %td {{ ( func.ptotal =  func.quantidade * func.punit | currency: "R$ " ) || 'R$ XX,XX' }}
                  %tfoot.subtotal
                    %tr
                      %td{colspan: 3}
                      %td Subtotal:
                      %td
                        %strong {{ getSubTotal('trabalhadores') | currency: "R$ " }}
                    %tr.bg-warning
                      %td{colspan: 3}
                      %td Valor Total:
                      %td
                        %strong {{ getSubTotal('trabalhadores')  + getSubTotal('materiais')| currency: "R$ " }}
  }



     
