---
layout: default
permalink: /orcamentos/alicerce.html
---

<!DOCTYPE html>
<html>
<head>
	<title>Orçamento de alicerce</title>
</head>

<body>
	<div class="container" id="page">	
	<div id="content">
		
	<div class="hero-unit"><h1>Quanto custa o alicerce?</h1>		
		<!-- <img src="/web/20160305102221im_/http://materialeconstrucao.com.br//images.php?src=http://materialeconstrucao.com.br/images/alicerceAppIcon.jpg&amp;w=150&amp;h=124&amp;a=c&amp;q=70" alt="Material de Construção - Orçamento de Alicerce"/> -->
			
		<!-- <iframe src="/web/20160305102221if_/https://www.facebook.com/plugins/like.php?href=http://materialeconstrucao.com.br//orcamentos/reboco.html"
		scrolling="no" frameborder="0" style="border:none; width:233px; height:28px">
		</iframe>		-->
				
	<p>Este é um simples orçamento para auxiliar na hora de calcular quanto custará para fazer o seu alicerce.</p>

	<form class="form-horizontal" >
		<fieldset>
		  <legend> Entre com os seguintes dados: </legend>
			<div class="control-group">
				<label class="control-label" style="width:150px;" for="input01">Comprimento do alicerce</label>
				
			   <div class="controls">
				<input class="entrada span1" placeholder="Digite" alt="ml" id="inputdadocomprimento" type="text" value="" name="inputdadocomprimento" />m<span class="help-block">quantidade em metros lineares do alicerces</span>
				</div>

				<label class="control-label" style="width:150px;" for="input01">Largura do alicerce</label>
			
				<div class="controls">
					<input class="entrada span1" placeholder="Digite" alt="metros" id="inputdadolargura" type="text" value="" name="inputdadolargura" />metros
				</div>

				<label class="control-label" style="width:150px;" for="input01">Profundidade</label>
					
				<div class="controls">
					<input class="entrada span1" placeholder="Digite" alt="metros" id="inputdadoprofundidade"	type="text" value="" name="inputdadoprofundidade" /> metros
				</div>
				
			</div>
		</fieldset>
	</div>
</body>
</html>



<!--{% include header.html %}

    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12">					
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon1">metros</span>
					  <input type="text" class="form-control">
					</div>

					<div class="input-group">
					  <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
					  <span class="input-group-addon" id="basic-addon2">@example.com</span>
					</div>

					<div class="input-group">
					  <span class="input-group-addon">$</span>
					  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
					  <span class="input-group-addon">.00</span>
					</div>

					<label for="basic-url">Your vanity URL</label>
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon3">https://example.com/users/</span>
					  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
					</div>
                </div>
            </div>
        </div>
    </main>

{% include footer.html %}